.cardstyle {
    width: 70%;
    height: 110%;
    margin-top: 20px;
}

.formcontrol {
    width: 86%;
}

.user-image-grid-item {
    margin: 15px;
    margin-left: 8px;
    margin-right: 5px;
    width: auto;
    height: auto;
    scale: 100%;
    justify-content: center;
}

.captionText{
    text-align: justify;
    margin-left: 10px;
    margin-bottom: 0px;
    color: lightskyblue;
}

.favIcon {
    float: left;
    color: red;
    
}

.like{
    float: right;
    margin-right: 385px;
    margin-top: 13px;
}

.button {
    display: inline-block;
    height: 38px;
    color: #555;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 50px;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 0px;
    border: 1px solid transparent;
    box-sizing: border-box;
  }

  .likes {
      font-style: normal;
      font-family: sans-serif;
  }


